.navigation-headers{
    padding: 10px;
    margin: 10px;
    font-size: 20px; 
    height: 60px;
    font-weight: lighter;
    border-bottom: 1px solid darkgray;
}
.navigation-header:hover{
    cursor: pointer;
}

.navigation-header:hover::after{    
   content: '\f0dc';
   font-family: FontAwesome;
   font-weight: normal;
   font-style: normal;
   margin-left: 35px;
   margin-top: -22px;
   text-decoration:none;
}

.navigation-row{
    font-weight: lighter;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.isStandardIndicator-true{
    color: red;
    font-size: 24px !important;
}

.indicator-card{
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}