.input{
    float: right;
    width: 300px;
    height: 30px;
    padding: 10px;
}

.input:after{        
   content: '\f002';
   font-family: FontAwesome;
   font-weight: normal;
   font-style: normal;
   margin-left: 20px;
   text-decoration:none;
}